*{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    min-width: 80%;
    min-height: 90vh;
    margin: 5% 10%;
    border: solid 1px #0000003e;
    box-shadow: 2px 3px 4px 1px gray;
}
.sub-main{
    /* display: flex; */
    min-height: 50%;
    min-width: 50%;
    
    margin: 1% 22%;
    /* border: solid 2px green; */
}
.heading{
    font-size: 45px;
    font-weight: 1000;

}
 
 
.search-bar-input{
    position:absolute;

    width: 38%;
    height: 1px;
    padding: 40px;
    margin: 5px 0;
    margin-bottom: 15%;
    font-size: 20px;
}
.icon
 {
    position:relative;
    font-size: 30px;
    padding-top: 4.5% ; 
    padding-right: 3%;
    float: right;
 }
 .l1st{
margin-top: 20%;
 }
.country-container{
    display: flex;
    margin-top: 5%;
    padding: 3%;
    box-shadow: 2px 3px 4px 1px gray;
}
.l1st{
    margin-top: 15%;
     }
.country-flag{
    flex:1;
     background-color: gray; 
}
.country-flag img{
    height: 100%;
    /* width: 100%; */
}
.country-details{
    flex: 2;
    /* background-color: yellow; */
    margin-left:8%;
    padding: 5px 8px;
    font-size: 20px;
}
.country-details h4{
    margin-top: 15px;
}
.btn{
    display: flex;
    gap :15px;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
}
.btn2{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
}
.btn2 button{
    border: 4px solid blue;
    color: blue;
    font-size: 25px;
    padding: 5px;
    width: 100%;
    font-weight: 500;
}
.btn-l {
    flex:1;
    /* background-color: yellow; */
}
.btn-r{
    flex:1;
    /* border-color: red; */
}
.btn button{
    border: 4px solid blue;
    color: blue;
    font-size: 25px;
    padding: 10px;
    width: 100%;
    font-weight: 500;
}
.firstside{
    /* flex: 1; */
    margin-left: 5%;
    padding-left: 10%;
}
.flag2{
    flex: 1;
}

 .flag1
 {
    width: 150%;
} 

